{{- $context := .context -}}
<div class="hx:flex hx:w-full hx:items-center hx:justify-center hx:py-4 hx:gap-5 hx:text-gray-400 hx:dark:text-gray-500">
  <a href="https://t.me/ranetkad" target="_blank" rel="noopener noreferrer" title="Telegram" class="hx:hover:text-gray-700 hx:dark:hover:text-gray-200 hx:transition-colors">
    {{- partial "utils/icon.html" (dict "name" "telegram" "attributes" `height=1em`) -}}
  </a>
  <a href="https://github.com/ranetkad" target="_blank" rel="noopener noreferrer" title="GitHub" class="hx:hover:text-gray-700 hx:dark:hover:text-gray-200 hx:transition-colors">
    {{- partial "utils/icon.html" (dict "name" "github" "attributes" `height=1em`) -}}
  </a>
</div>
